<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IUserService" />
                <binding name="BasicHttpBinding_IAuctionService" />
                <binding name="BasicHttpBinding_IAuctionService_Streaming" />
                <binding name="BasicHttpBinding_ILoginService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/Auction_House/UserService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUserService"
                contract="UserServiceReference.IUserService" name="BasicHttpBinding_IUserService" />
            <endpoint address="http://localhost:8080/Auction_House/AuctionService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuctionService"
                contract="AuctionServiceReference.IAuctionService" name="BasicHttpBinding_IAuctionService" />
            <endpoint address="http://localhost:8080/Auction_House/AuctionService/Streaming"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuctionService_Streaming"
                contract="AuctionServiceReference.IAuctionService" name="BasicHttpBinding_IAuctionService_Streaming" />
            <endpoint address="http://localhost:8080/Auction_House/LoginService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILoginService"
                contract="LoginServiceReference.ILoginService" name="BasicHttpBinding_ILoginService" />
        </client>
    </system.serviceModel>
</configuration>