
@{
    ViewBag.Title = "Information";
}

<h2>Information</h2>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h3><b>Auctioneering done easy</b></h3>
            <p>
                Just create an auction and let users bid. <br />
                You can add pictures by visiting the page of your auction. <br />
                By setting a bidding interval, you can decide how much the users have to increment their bids <br />
                Auctions are a great way to ensure the correct price for the item, so you won't sell it for cheap
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h3><b>Bidding</b></h3>
            <p>
                On the auctions page you can find auctions with a keyword, or just see the latest auctions. <br />
                If u would like to bid, there is a button on each individual auction, where you can bid the appropiate amount.  <br />
                Bidding makes it favourable for you, as you are sure that the price of the item will reflect the demand of the said item. <br />
            </p>
        </div>
    </div>
</div>